<div>
    <ul id="nav_bar">
        <li id="home_btn"> <button> Home </button> </li>
        <li id="browse_art"> <button> Browse </button> </li>
        <li id="login_btn"> <button> Login </button> </li>
    </ul>
</div>