<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs")%>
    <title> Favorites</title>
    <title>Document</title>
</head>
<body class="text-center">
    <%- include("partials/nav.ejs")%>
    <h1> Favorites</h1>
    
    <%- include("partials/footer.ejs")%>
    
</body>
</html>
