<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs")%>
    <title>Sign Up</title>
</head>
<body class="text-center">
    <%- include("partials/nav.ejs")%>
    <h1 class="title"> The Sound of Paintings</h1>

    <div id="userInput">
        <form action="/search" method="GET">
            <h2 id="welcome">Welcome User</h2>
            <h3> Immerse yourself in art both visually and audibly  </h3>
        Enter your mood (one word): <br><input type="text" id="userMood" name="mood">
            <br><br>
            <button class="btn btn-outline-dark">Search</button>
            <div id="feedback"></div>
            <br>
        </form>
    </div>

    <%- include("partials/footer.ejs")%>
</body>
</html>