<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs")%>
    <title> Login </title>
</head>
<body>
   <header><h1> Login </h1></header>

   <nav><%- include("partials/nav.ejs") %></nav>
    
    <%- include("partials/footer.ejs")%>
</body>
</html>