<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs")%>
    <title> Sign Up </title>
</head>
<body>
    <header><h1> The Sound of Paintings </h1></header>

    <nav><%- include("partials/nav.ejs") %></nav>


    <%- include("partials/footer.ejs")%>
</body>
</html>