header{
    text-align: center;
    font-weight: bolder;
}

body{
    text-align: center;
}

footer {
    text-align: center;
}

#nav_bar{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: black;
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#logInBox {
    background-color: blanchedalmond;
    border: 1px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
}

#noAccount {
    font-size: 13px;
}

#link {
    font-size: 13px;
}


