header{
    text-align: center;
    font-weight: bolder;
}
body {
    background-color: rgb(176, 140, 102);
    text-align: center;
}

.title {
    font-family: "Lucida Handwriting", cursive;
    padding-top: 6px;
}
footer {
    text-align: center;
}

#nav_bar{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    background-color: black;
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#welcome {
    color: darkred
}

#userInput {
    background-color: blanchedalmond;
    border: 1px;
    padding: 20px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
}

#painting {
    width: 400px;
}




