footer {
    text-align: center;
}

#logInBox {
    background-color: blanchedalmond;
    border: 1px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
}

#noAccount {
    font-size: 13px;
}

#link {
    font-size: 13px;
}


